<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener
                class-name="utils.ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/pickrr/IdeaProjects/Pickrr_Technologies">
        <classes>
            <class name="API.LoginApi"><methods><include name="createSingleOrder"/></methods></class>
            <class name="API.PlaceOrderApiTest"><methods><include name="rechargeFromHomePage"/></methods></class>
            <class name="API.FetchSPOCDetailsTest"><methods><include name="loginUser"/></methods></class>
        </classes>
    </test>
</suite>